# Maven build output
**/target/
**/*.class
**/*.jar

# Eclipse metadata
.classpath
.project
.settings/
**/bin/

# OS / logs
.DS_Store
Thumbs.db
*.log

#Environment Variables
shale-desktop/src/main/resources/application.properties

# Maven
target/

# jpackage build output
dist/
dist-appimage/
dist-updater/

# updater staging if present
updater-dist/

# runtime bundles
runtime/

# OS junk
.DS_Store
Thumbs.db

# logs
*.log

target/
dist/
dist-appimage/
dist-updater/
*.zip
*.exe

build/assets/javafx-jmods*/
build/assets/javafx-jmods-21.0.10/

target-backup/
build/mac-handoff/
*.propertiesbuild/mac-handoff/
