# Optional defaults; environment variables will override at runtime
APP_ENV=

LIVE_NEGOTIATE_ENDPOINT_URL=
LIVE_PUBLISH_ENDPOINT_URL=
NEGOTIATE_ENDPOINT_URL=

SHALE_APP_JDBC_URL=
SHALE_APP_PASS=
SHALE_APP_USER=

SHALE_RT_JDBC_URL=
SHALE_RT_PASS=
SHALE_RT_USER=

WEBPUBSUB_HUB=

DB_MAX_POOL_SIZE=
DB_CONNECTION_TIMEOUT_MS=